@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace; /* Fuente monoespaciada */
    margin: 0;
    padding: 0;
    background-color: #161420; /* Fondo blanco */
    color: #333333; /* Texto en color gris oscuro */
    line-height: 1.6;
}

h1 {
    font-family: 'Roboto Mono', monospace; /* Fuente monoespaciada */
    text-align: center;
    padding: 20px 0;
    color: #d32f2f; /* Título en color rojizo */
    font-size: 2.5em; /* Tamaño del título */
    font-weight: bold;
}

.container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa; /* Fondo de contenedor claro */
    color: #333333; /* Texto de contenedor en gris oscuro */
    border: 1px solid #e0e0e0; /* Borde de contenedor en gris claro */
}

input[type="text"] {
    font-family: 'Roboto Mono', monospace;
    width: 60%;
    padding: 12px 20px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    font-family: 'Roboto Mono', monospace;
    display: block;
    width: 10%;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    background-color: #d32f2f; /* Botón en color rojizo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    font-family: 'Roboto Mono', monospace;
    background-color: #b71c1c; /* Botón en color rojizo oscuro al pasar el ratón */
}

#resultado, #contenedor-respuesta {
    font-family: 'Roboto Mono', monospace;
    width: 80%; 
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    word-wrap: break-word;
}

.main-container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin-top: 50px; /* Ajusta este valor según tus necesidades */
}

.bloque-respuesta {
    font-family: 'Roboto Mono', monospace;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}